header{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        margin-bottom: 50px;
        .logo{
            font-size: 28px; 
            span{
                font-weight: 700;
            }   
        }
        .menu{
            display: flex;
            gap: 60px;
        
        }
    }
}